:root {
    --border-radius-button: 5px;
    --border-radius-container: 10px;
}

.container-login {
    background-image: linear-gradient(to right, #2196F3 30%, #21CBF3 90%); /* #014F68 or #0086B0, #006C8E*/ 
}

.signup {    
    margin-top: 40px;
}

.signup a {
    color: #484848;
}

.signup span {
    color: #2196F3;
    text-decoration: underline;
}