:root {
    --border-radius-button: 5px;
    --border-radius-container: 10px;
}
.signup {    
    margin-top: 40px;
}

.signup a {
    color: #484848;
}

.signup span {
    color: #2196F3;
    text-decoration: underline;
}

.section-login {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    padding-bottom: 60px;
    border-radius: 10px;
    max-width: 500px;
    background-color: white;
}

