.submit-button {
    font-family: inherit;
    font-size: 1.0rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: var(--border-radius-button);
    height: 60px;
    color: white;
    border: none;
    outline: none;
    background-image: linear-gradient(to left, #FE6B8B 30%, #FF8E53 90%);
    margin-top: 20px;
}