.container-profile {
    justify-content: flex-start;
}

.header-profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.section-profile {
    /* border: 4px solid transparent;
    border-image: linear-gradient(to left, #FE6B8B 30%, #FF8E53 90%);
    border-image-slice: 1; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
}

.menu-profile {
    display: flex;
    align-items: center;
}

.btn-home, .btn-evaluate {
    margin: 0;
    padding: 0 20px;
    margin-right: 20px;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); */
}

.section-profile-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}